@import "tailwindcss";
@import "@fontsource/barlow-condensed/700.css";
@import "@fontsource-variable/inter/wght.css";

@theme {
  --color-primary: #f2df0d;

  --color-background-dark: ;

  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-Inter: "Inter Variable", sans-serif;

  --animate-reveal: reveal 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;

  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.98);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

.reveal {
  opacity: 0;
  animation: var(--animate-reveal);
}

@layer base {
  * {
    @apply px-1 py-3 text-white;
  }

  h1,
  h2,
  h3,
  a {
    @apply font-barlow-condensed leading-relaxed font-normal tracking-tighter uppercase;
  }

  h1 {
    @apply text-4xl font-black;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  p {
    @apply text-lg leading-relaxed font-normal text-white;
  }

  body {
    @apply font-Inter bg-zinc-950;
  }
}
