@import 'tailwindcss';
@import '@fontsource/barlow-condensed/800.css';

@theme {
  --color-primary: #f2df0d;

  --color-background-dark: #18181b;

  --font-barlow-condensed: 'Barlow Condensed', sans-serif;

  --animate-reveal: reveal 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;

  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.98);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

.reveal {
  opacity: 0;
  animation: var(--animate-reveal);
}

@layer base {
  * {
    @apply px-1 py-3 text-white w-full;
  }

  body {
    @apply bg-background-dark font-barlow-condensed m-0 w-full h-full p-0;
  }
}

@layer components {
  .form-control {
    @apply rounded-md border bg-amber-900 px-4 py-3 text-white transition-colors outline-none invalid:text-blue-500 focus:border-amber-400;
  }
}
